# Email Configuration (Local Development)
# Nodemailer SMTP Configuration
VITE_SMTP_HOST=smtp.gmail.com
VITE_SMTP_PORT=587
VITE_SMTP_SECURE=false
VITE_SMTP_USER=glowinvoice@gmail.com
VITE_SMTP_PASS=vjsv qpmv gtob dgrl
EMAIL_FROM_ADDRESS=glowinvoice@gmail.com
EMAIL_FROM_NAME=Akamify School

# School Configuration
REACT_APP_SCHOOL_PHONE=+1234567890
REACT_APP_SCHOOL_EMAIL=school@demo.com